@charset "utf-8";

.container {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
  background: #EEF0F3;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #363F54;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  /* 필요시 */
}

.sidebar .logo-section {
  padding: 32px 24px;
}

.sidebar .logo {
  margin-bottom: 20px;
}

.sidebar .welcome h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 28px;
  margin-bottom: 8px;
}

.sidebar .welcome p {
  font-size: 16px;
  color: #C4C6D1;
  line-height: 24px;
}

.sidebar .nav-menu {
  padding: 0;
}

.sidebar li.last {
  border-top: 1px solid rgba(255, 255, 255, 0.20);
  margin-top: 14px;
  padding-top: 14px;
}

.sidebar .nav-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #39434B;
  position: relative;
  transition: background-color 0.2s;
  border-bottom: 2px solid rgba(128, 139, 158, 0.10);
}

.sidebar .nav-item.active {
  background-color: #2297DB;
}

.sidebar .indicator {
  width: 4px;
  height: 20px;
  background-color: #39434B;
  margin-right: 20px;
  border-radius: 2px;
  visibility: hidden;
}

.sidebar .icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sidebar .icon.on:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  overflow: hidden;
  border-radius: 50%;
  background: #E8503A;
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar .text {
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
  color: #fff;
}

.sidebar .plus {
  font-size: 14px;
  color: #636779;
  margin-left: auto;
}

.sidebar .settings-section {
  width: calc(100% - 40px);
  margin: 14px auto 0 auto;
  padding: 14px 20px 20px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}

.sidebar .toggle {
  width: 44px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar .toggle.off {
  background-color: #C4C6D1;
}

.sidebar .toggle.on {
  background-color: #007BE0;
}

.sidebar .toggle-handle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  border: 1px solid #C4C6D1;
}

.sidebar .toggle.on .toggle-handle {
  transform: translateX(20px);
  border-color: #007BE0;
}

.sidebar .sub-menu .nav-item {
  padding-left: 46px;
  position: relative;
}

.sidebar .nav-item.active+ul.sub-menu {
  display: block;
}

.sidebar ul.sub-menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: none;
  background: #272D3C;
}

.sidebar ul.sub-menu li {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}


.sidebar ul.sub-menu li:after {
  content: "";
  width: 1px;
  height: 100%;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  background: #838B9B;
  position: absolute;
  left: 19px;
  top: 0;
}

.sidebar ul.sub-menu li:last-child:before {
  content: "";
  width: 10px;
  height: 100%;
  overflow: hidden;
  display: block;
  background: #272D3C;
  position: absolute;
  left: 19px;
  top: 16px;
  z-index: 2;
}

.sidebar ul.sub-menu li a {
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(../image/ico/ico-circle.svg) no-repeat 28px center;
}

.sidebar ul.sub-menu li a .text {
  color: #C7C7C7;
}

.sidebar ul.sub-menu li a.active {
  background: url(../image/ico/ico-circle-on.png) no-repeat 28px center;
}

.sidebar ul.sub-menu li a.active .text {
  color: #fff;
}

.sidebar ul.sub-menu li a:before {
  content: "";
  width: 9px;
  height: 1px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  background: #838B9B;
  position: absolute;
  left: 19px;
  top: 15px;
}

.sidebar ul.sub-menu .sub-menu li a {
  border-bottom: 0;
}

.sidebar ul.sub-menu .sub-menu li a:before {
  display: none;
}

.sidebar ul.sub-menu .sub-menu li a.nav-item {
  padding-left: 56px;
  background: url(../image/ico/ico-dot.svg) no-repeat 44px center
}

.sidebar ul.sub-menu .sub-menu li a.nav-item.active {
  background: url(../image/ico/ico-dot-on.svg) no-repeat 44px center
}

.sidebar ul.sub-menu .sub-menu li a.nav-item .text {
  font-size: 13px;
  color: #7E8AA8;
}

.sidebar ul.sub-menu .sub-menu li a.nav-item.active .text {
  color: #fff;
}


.sidebar ul.sub-menu .sub-menu li:before,
.sidebar ul.sub-menu .sub-menu li:after {
  display: none;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header {
  height: 60px;
  background-color: #272D3C;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);

}

.header .logout {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.header .logo {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .page-name {
  font-size: 18px;
  font-weight: 600;
  color: #A5AFC9;
  width: 100%;
  flex: 1;
  padding-left: 20px;
}

/* Page Header */
.page-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  background: #fff;
}

.page-header .page-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.page-header .page-header-container button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 0 30px;
  border: 0;
  border-radius: 8px;
  background: #03050F;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.page-header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #03050F;
  margin-bottom: 40px;
  margin-right: 12px;
}

.page-header .search-filters {
  display: flex;
  gap: 16px;
  align-items: end;
}

.page-header .filter-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.page-header .filter-group .filter-label {
  font-size: 16px;
  color: #1D2226;
  font-weight: 400;
}

.page-header .filter-group label {
  font-size: 16px;
  color: #1D2226;
  font-weight: 400;
}

.page-list-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}